.colour {
	height: 100%;
	flex: 1;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.4);
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	/* transition: 0.5s ease; */
	border: 5px solid rgba(255, 255, 255, 0.05);
	box-sizing: border-box;
}

.colour:hover {
	border: 5px solid rgba(255, 255, 255, 0.5);
}

.copied {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	opacity: 0;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.4);
	height: 100%;
	width: 100%;
	justify-content: center;
	text-align: center;
	pointer-events: none;
}

.copied h1 {
	font-size: 17vw;
	margin: auto 0 0 0;
	text-transform: uppercase;
	font-weight: 400;
}

.copied p {
	text-transform: capitalize;
	margin: 0 0 auto 0;
	font-size: 35px;
}

.colour:focus .copied {
	animation-name: copied;
	animation-duration: 3s;
	animation-iteration-count: 1;
	-webkit-animation-name: copied;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: 1;
}

.colour:focus .copied h1 {
	animation-name: copied2;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.08, 1.65, 0.51, 0.8);
	-webkit-animation-name: copied2;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: cubic-bezier(0.08, 1.65, 0.51, 0.8);
}

@media (max-width: 900px) {
	.colour {
		font-size: 15px;
		border: 3px solid rgba(255, 255, 255, 0.05);
	}
	.colour:hover {
		border: 3px solid rgba(255, 255, 255, 0.5);
	}
	.copied p {
		font-size: 25px;
	}
}

@keyframes copied {
	0% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
@-webkit-keyframes copied {
	0% {
		-webkit-opacity: 1;
	}

	70% {
		-webkit-opacity: 1;
	}

	100% {
		-webkit-opacity: 0;
	}
}

@keyframes copied2 {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	3% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes copied2 {
	0% {
		-webkit-opacity: 0;
		-webkit-transform: scale(0.5);
	}
	3% {
		-webkit-opacity: 1;
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-opacity: 1;
		-webkit-transform: scale(1);
	}
}
